@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #5B21B6;
  --color-text-primary: #171717;
  --color-text-secondary: #727272;
  --color-background: #faf8f5;
  --color-surface-white: #ffffff;
  --color-border-light: #e2e2e2;
  --color-border-medium: #bababa;
  --color-border-gray: #eee;
  --color-status-success: #10b981;
  --color-status-warning: #f59e0b;
  --color-status-info: #8b5cf6;
  --color-status-error: #ef4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}